<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>商户管理后台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
   <link rel="stylesheet" href="{% static 'engine/css/styles.css' %}">
    <script src="{% static 'engine/js/responsive-nav.js' %}"></script>
    {% block css %}{% endblock css %}
    {% block js %}{% endblock js %}
  </head>
  <body>
    <div class="top"><span>商户管理后台</span></div>
    <div role="navigation" id="foo" class="nav-collapse">
      <ul>
        <li  class="active"><a href="{% url 'shop_detail' %}">店铺信息</a></li>
        <li><a href="#">店铺地理信息</a></li>
        <li><a href="{% url 'product_list' %}">产品信息</a></li>
        <li><a href="#">推送管理</a></li>
        <li><a href="#">广告管理</a></li>
        <li><a href="{% url 'do_logout' %}">注销</a></li>
      </ul>
    </div>
    
    <div role="main" class="main">
      <a href="#nav" class="nav-toggle">导航</a> 
<!--       <div class="operater">
        <ul>
            <li><a href="#"><img src="{% static 'engine/images/write.jpg' %}"></a></li>
            <li><a href="#"><img src="{% static 'engine/images/main.jpg' %}"></a></li>
            <li><a href="#"><img src="{% static 'engine/images/dele.jpg' %}"></a></li>
            <li><a href="#"><img src="{% static 'engine/images/list.jpg' %}"></a></li>
            <li><a href="#"><img src="{% static 'engine/images/admin.jpg' %}"></a></li>
        </ul>
      </div> -->
      <!--<h1>Prototype</h1>-->
     <div style="width:100%;height:90%;">
            {% block content %}
            {% endblock content %}
      </div>
    </div>
    <script>
      var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
    </script>
  </body>
</html>
